{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="text-5xl font-bold mb-4 animate-pulse-slow">Coming Soon..</h1>
    <p class="text-xl mb-8 opacity-75">In the meantime check out some of my projects.</p>
    <div class="mt-8 animate-bounce mb-8">
        <svg class="w-6 h-6 text-gray-500" 
            fill="none" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
        >
            <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
        </svg>
    </div>
    <div class="space-y-4">
        <div class="flex justify-center space-x-4">
            <a href="https://blueprint.ajibolaawotide.com" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105"
            >
                Blueprint
            </a>
            <a href="https://compress.ajibolaawotide.com" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105"
            >
                Compress
            </a>
        </div>
        <div class="flex justify-center space-x-4">
            <!-- <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
                EasyAuction
            </a> -->
            <!-- <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer" class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
                LinkedIn
            </a> -->
        </div>
    </div>
</div>
{% endblock %}